<div id="app">
  <div id="left-panel">
    <h3>Rooms</h3>
    <div style="display:flex;">
    <input type="text" id="room-input" placeholder="Room name..." />
    <input type="number" id="ttl-input" placeholder="TTL in s" min="1" />
    </div>
    <button id="create-room-btn">Create room</button>

    <div id="room-list">
      </div>
  </div>

  <div id="chat-panel">
    <div id="no-chat-selected">
      <p style="font-size:large;">Select a room to start messaging</p>
    </div>
    <div id="active-chat-area" style="display:none;">

      <div class="header-wrapper"><button id="leave-room-btn">Leave Room</button></div>
      <div id="message-container"></div>

      <form id="send-container">
        <input type="text" id="message-input" placeholder="Type your message...">
        <button type="submit" id="send-btn">
          <svg viewBox="0 0 24 24" width="20" height="20" fill="gold">
            <path d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
          </svg>
        </button>
      </form>  
  </div>
</div>